/packages
/Mntone.PerMonitorDpiTestApplication/bin
/Mntone.PerMonitorDpiTestApplication/obj
/Mntone.PerMonitorDpi/obj
/Mntone.PerMonitorDpi/bin
/Mntone.MonitorInformation/obj
/Mntone.MonitorInformation/bin
/Mntone.PerMonitorDpi (.NET 4.0)/obj
/Mntone.PerMonitorDpi (.NET 4.0)/bin
